footer {
    text-align: center;
    padding: 15px;
    background: #1F3C6E;
    color: #FFFFFF; 
    font-size: 0.9rem;
    margin-top: auto; /* Hace que el footer se mantenga abajo */
}

footer p {
    margin: 0;
}